.albumArtist {
  align-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f47521;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.albumArtist h2 {
  font-size: 50px;
}

.albumArtist h3 {
  font-size: 30px;
}

.songName {
  color: white;
}
