body {
  background-image: url('./components/background.jpeg');
}

/* LOADING */
.loading {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ff944d;
  font-size: 100px;
  margin-top: 30vh;
  text-align: center;
}
